@using Sandbox;
@using Sandbox.UI;
@namespace Battlebugs
@inherits Panel
@attribute [StyleSheet]

<root class=@GetClass()>
	<div class="icon">
		<img src=@Entry.Key.Icon />
		<label>@(Entry.Value < 0 ? "∞" : $"x{Entry.Value}")</label>
	</div>
	<label>@Entry.Key.Name</label>
	<div class="border" />

	<div class="info-panel">
		<div class="header">
			<img src=@Entry.Key.Icon />
			<div class="info">
				<label class="name">@Entry.Key.Name</label>
				<label class="count">Count: @(Entry.Value < 0 ? "∞" : Entry.Value.ToString())</label>
			</div>
		</div>
		<label>@Entry.Key.Description</label>
	</div>
</root>

@code
{
	public KeyValuePair<Weapon, int> Entry { get; set; }

	string GetClass()
	{
		string str = BoardManager.Local.SelectedWeapon == Entry.Key ? "selected" : "";
		if (Entry.Value == 0)
		{
			str += " disabled";
		}
		return str;
	}
	protected override void OnMouseDown(MousePanelEvent e)
	{
		if (Entry.Value == 0) return;

		BoardManager.Local.SelectedWeapon = Entry.Key;
	}

	protected override int BuildHash() => System.HashCode.Combine(BoardManager.Local.SelectedWeapon, Entry.Value);
}